<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Fantagulus</title>
  <meta name="viewport" content="width=device-width">
 	<link rel="stylesheet" href="css/style.css">  
</head>

<body>

  <div id="app">
    <h1>Fan<span>tag</span>ulus</h1>
    <h3>Tag the Web!</h3>
    <h4>Url</h4>
    <input class="text url-input" type="text" v-model="url">
    <h4>Description</h4>
    <input class="text" type="text" v-model="description">
    <h4>Tags</h4>
    <div class="tags-input">
        <span class="tag" v-for="(tag, index) in tags">
            {{ tag.name }}
            <span class="remove" @click="removeTag(index)">x</span>
        </span>
        <input type="text" placeholder="type a tag and hit enter" v-model="newTag.name" v-on:keydown.enter="addTag()">
    </div>

    <h4>Clipping</h4>
    <textarea>{{ snippet }}</textarea>
    <div class="button" @click="pasteSelection">Get clipping</div>
    <div class="button" @click="saveBookmark">Save</div>

    <transition name="fade">
        <div class="message" v-if="message"><span>{{ message }}</span></div>
    </transition>
</div>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js'></script>
    <script  src="js/index.js"></script>
</body>

</html>
